.blueBox{
    height: 300px;
    background-color: blue;
    width: 300px;
    position: relative;
}
.yellowBox{
    height: 100px;
    background-color: red;
    width: 100px;
    /* position: sticky;
    position: fixed;
    position: absolute; */
    position: relative;
    /* left: 45px;
    bottom: 250px; */
    top: 80px;
    left: 100px;
}
.h1{
    position: relative;
    left: 100px;
}

/* static means one-by-one normal flow, from parent/root of the page, no position property applied */
/* non-static means position property applied */
/* left,right,top,bottom are offsets in css */

/* Static - Default positioning method. Elements with position: static are positioned according to the normal flow of the document. */

/* Relative -	Elements with position: relative are positioned relative to their normal position in the document flow. Other elements will not fill the gap left by this element when adjusted. */

/* Absolute - Positioned concerning its nearest non-static ancestor. Elements with position: absolute are taken out of the normal document flow. */

/* Fixed -	An element with position: fixed property remains in the same position relative to the viewport even when the page is scrolled.

Sticky - Combines features of position: relative and position: fixed. The element is treated as position: relative until it reaches a specified threshold, then it becomes position: fixed. */